<table class="table is-fullwidth">
    <thead>
    <tr>
        <th>Event</th>
        <th>Description</th>
        <th>Longitude</th>
        <th>Latitude</th>
    </tr>
    </thead>
    <tbody>
    {{#each category.events}}
        <tr>
            <td>
                {{name}}
            </td>
            <td>
                {{description}}
            </td>
            <td>
                {{lon}}
            </td>
            <td>
                {{lat}}
            </td>
            <td>
                <a href="/event/{{_id}}" class="button">
                  <span class="icon is-small">
                      <i class="fas fa-folder-open"></i>
                  </span>
                </a>
                <a href="/catesgory/{{../category._id}}/deleteevent/{{_id}}" class="ui icon button">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>
